@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 0%, rgba(227, 255, 248, 0.38) 100%);
    --primary-color: #89C5CC;
    --button: #69B99D;
    --white: #F9F9F9;
    --black: #000;
    --h1-selected: #1F1534;
    --h3-selected: #7D7987;

    --font-primary: 'Inter', sans-serif;
    --font-secundary: 'Mulish', sans-serif;
    --font-tertiary: 'Open Sans', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center
}

.container{
    display: ;
    background-color: var(--background);
    width: 80rem;
    height: 45rem;
    flex-shrink: 0;
}

header{
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 7.5rem;
}

header #logo {
    width: 6.66169rem;
    height: 1.375rem;
    flex-shrink: 0;

    color: var(--primary-color);
    font-family: var(--font-primary);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.625rem;

    cursor: pointer;
}

header nav a{
    padding: 0 1.5rem;
    font-style: none;
    text-decoration: none;
    
    color: var(--h1-selected);
    font-family: var(--font-secundary);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header nav .select{
    font-weight: 700;
}

main{
    display: flex;
    justify-content: center;
}

main .title, main .image{
    width: 32.5rem;
    height: 32.20044rem;
    flex-shrink: 0;
}

main .title h1{
    color: var(--black);
    font-family: var(--font-secundary);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-transform: uppercase;

    padding-top: 5rem;
}

main .title h1 span{
    color: var(--primary-color);
    font-family: var(--font-secundary);
    font-weight: 700;
}

main .title h3{
    width: 27rem;
    color: var(--h3-selected);
    font-family: var(--font-tertiary);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    padding-top: 1.12rem;
    padding-bottom: 3rem;
}

main .title h3 span{
    font-weight: 700;
}

main .title button{
    color: var(--white);
    text-align: center;
    font-family: var(--font-primary);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    display: inline-flex;
    height: 3.5rem;
    padding: 0.875rem 2rem 0.9375rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;

    border-radius: 0.25rem;
    background: var(--button);

    border-style: none;

    cursor: pointer;
    animation: both 5s;
}

main .title button:hover{
    background-color: #78d4b4;
}

footer{
    color: var(--black);
    text-align: center;
    font-family: var(--font-secundary);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    padding-top: 4rem;
}

footer a{
    color: var(--black);
    font-weight: 700;
    font-style: none;
    text-decoration: none;
}